body {
    text-decoration: none;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("");
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 24;
    margin: 20;
    padding: 0;
    text-align: center;
}
section{
    align-items: center;
    display: flex;
    width: 1400px;
    height: 630px;
  }
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor:cell;
    width: 100px;
    height: 480px;
    opacity: 1;
    filter: contrast(120%);
  }